<main class="main">
  <p>Text blue only for this component</p>
  <p>Count of voting : {{ totalVote }}</p>
  <app-lifecycle
    [major]="major"
    [minor]="minor"
    [voters]="voters"
    (totalClick)="handleAddVote($event)"
  />
  <app-destroy *ngIf="isVisible" />
  <app-control-child />
  <app-shared-child
    [sharedValue]="sharedValue"
    [greetingsFromInterceptSetter]="greetings"
  />
  <app-intercept-setter [(greetings)]="greetings" />
  <app-content-projection>
    <p>Hello World</p>
    <p test>Hello Test</p>
  </app-content-projection>
  <app-dynamic-component />
  <button (click)="newMinor()">increase minor</button>
  <button (click)="newMajor()">increase major</button>
  <button (click)="increaseControl()">increase controlled component</button>
  <button (click)="decreaseControl()">decrease controlled component</button>
  <button (click)="destroyElement()">DESTROY !!!</button>
</main>

<router-outlet />
